*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body{
  background-image: url("https://24.media.tumblr.com/83edd69c7fb6aff354676cb4b0ff998d/tumblr_mx4s1x0xd11szol4po1_500.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height:100vh;
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.big-box{
  background: #0000009e;
opacity: 1.0;
  border-radius: 25px;
  border: 1px solid #ffffff1c;
  padding: 23px;
  color:white;
  width: 95%;
  max-width: 450px;
  align-content: center;
  justify-content: center;
  margin-left: 30px;
}
.input-city{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 25px;
  font-size: 18px;
  background-color: #7c7c7c2b;
  color:white;
  width: calc(100%-100px);
}
.lupinha{
  border: none;
  outline: none;
  padding: 10px;
  background-color: #ffffff2b;
  cursor: pointer;
  border-radius: 50px;
  float: right;
  margin-left: 20px;
  
}
.img-search{
  width:20px;
}
.medium-box{
  margin-top:30px;
}
.city-name{
  color:white;
  font-size: 18px;
  font-weight: 900;
  text-transform:uppercase;
}

.temp{
  font-size: 20px;
  color:white;
  margin-top: 20px;
}
.small-box{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.text-previus{
  color: white;
  margin-left: 20px;
  text-transform: capitalize;
}
.umidade{
  color:white;
  margin-top: 20px;
  text-transform: capitalize;
  font-weight: 400;
}
